.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto 40px auto;
  grid-template-areas: "header header" "gallery title" "gallery description";
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.space-between {
  justify-content: space-between;
}

.product-page {
  max-width: 1000px;
  margin: 0 auto 50px auto;
}

.product-page header {
  margin: 16px 0px;
  grid-area: header;
  width: 100%;
}

.product-page header img {
  display: block;
}

.product-page .image-gallery-container {
  grid-area: gallery;
}

.product-page .title {
  padding-left: 24px;
  grid-area: title;
}

.product-page .title h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 38px;
  letter-spacing: -2px;
}

.product-page .description {
  padding-left: 24px;
  grid-area: description;
  display: flex;
  flex-direction: column;
}

.product-page .description > p {
  margin: 16px 0;
}

.product-page .description .price {
  margin-top: 14px;
}

.product-page .description .price p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -1px;
}

.product-page .description .price p:first-child {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0px;
}

.product-page .description button {
  background: #ED7100;
  border-radius: 4px;
  border: 0;
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 13px 24px 13px 24px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-top: 14px;
}

/* Slider */
.slider-images {
  width: 600px;
}
.slider-thumbnail {
  width: 138px;
  height: 92px;
  margin-left: 8px;
  margin-right: 8px;
  border: none;
  transition: opacity .3s ease-out;
  opacity: 0.6;
}

.image-gallery-thumbnail.active {
  border: none;
}

.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 8px;
}

.slider-thumbnail.active {
  opacity: 1;
}

.slider-thumbnail:first-of-type {
  margin-left: 0px;
}

.slider-thumbnail img {
  width: 138px;
  height: 92px;
}

.image-gallery-bullets{
  bottom: 10px;
}

.image-gallery-bullets .image-gallery-bullet {
  background-color: white;
  opacity: 0.5;
  width: 24px;
  height: 2px;
  margin: 0 2px;
  padding: 0px;
  border: none;
  border-radius: 0;
}

.image-gallery-bullets .image-gallery-bullet.active {
  opacity: 1;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .container {
    grid-template-rows: auto;
    grid-template-areas: "header header" "gallery gallery" "title title" "description description";
  }

  .product-page header img {
    margin: 0 auto;
  }

  .product-page .title {
    margin: 20px 10% 0px 10%;
    padding-left: 0;
    text-align: center;
  }

  .product-page .description {
    order: 4;
    padding-left: 0;
    margin: 5% 10%;
  }

  .slider-images {
    width: 100%;
  }

  .slider-thumbnail:first-of-type {
    margin-top: 0px;
  }

  .slider-thumbnail {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .product-page header {
    order: 1;
  }

  .product-page header img {
    margin: 0 auto;
    width: 115px;
  }

  .product-page .image-gallery-container {
    order: 3;
    width: 100%;
  }

  .product-page .image-gallery-container .image-gallery-thumbnails-wrapper{
    display: none;
  }

  .product-page .title {
    order: 2;
    margin: 16px 12px;
    padding-left: 0;
    width: 100%;
  }

  .product-page .description {
    order: 4;
    padding-left: 0;
    margin: 12px;
  }

  .product-page .description > p {
    order: 2;
  }

  .product-page .description > div {
    order: 1;
    flex-direction: column;
  }

  .product-page .description button {
    width: 100%;
  }

  .product-page .description .price {
    display: flex;
  }

  .product-page .description .price p:nth-child(2) {
    align-self: flex-end;
    margin-left: 16px;
  }

  .slider-images {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .product-page header img {
    margin: 0 auto;
    width: 84px;
  }
}